################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RomanNumerals/obj
/RomanNumerals/bin/Debug/net7.0
/.vs
