################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*~
/.vs
/RomanNumerals/bin/Debug/net7.0
/RomanNumerals/bin/Debug/net8.0
/RomanNumerals/obj
